h1{
    font-size: 3.5em;
    color: #a0522d;
    font-family: "Montserrat", sans-serif;
}
p{
    font-size: 1.1em;
    font-family:"Manrope",sans-serif ;
}

ul{
    font-size: 1em;
    font-family: "Manrope",sans-serif ;
}

a{
    font-size: 
    font-size:"Manrope",sans-serif;
    text-decoration: none;
}
