/*la partie gauche est la propriéter*/

/*SELECTEUR*/ 
/*côter droit et la valeur */
/*l'ensemble l'instruction */
div =id"divsolid"{
    color: rgb(37, 34, 34);
    background: linear-gradient(135deg, #e8c1c2 0%, #fad0c4 100%);/*surligneur*/
    border:solid blue; 
   
}






 